
@font-face {
	font-family: "Poppins-Regular.ttf";
	src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: "Poppins-Medium.ttf";
	font-style: italic;
	src: url('../fonts/Poppins-Italic.ttf');
}


body {
    color: rgb(7, 7, 7);
    background-color: #FF5733;
    font-family: 'Poppins', sans-serif, Helvetica,Arial,sans-serif;
}



